<div class="text-white col-md-12">
  <p class="text-center">
    BrewGo's mission is to be a resource for people to look up breweries in
    their area and cross reference restaurants in the same area
  </p>
  <p class="text-center">
    Whether you're a frequent travelor or a craft beer drinker searching for
    breweries nearby, BrewGo is the perfect resource for finding quality
    breweries and restaurants.
  </p>
  <p class="text-center">
    In addition to brewery and restaurant searching, you can connect with other
    users via BrewGo Social
  </p>
</div>
