<div class="hero text-center">
  <h1>BrewGo Social</h1>
  <h2>Find local breweries and grub</h2>
  <div class="col-md-6 offset-md-2 text-left" id="welcome-forms">
    <router-outlet></router-outlet>
  </div>
  <p class="font-weight-bold text-center">
    Enter location, get buzzed, eat food
  </p>
</div>
<!-- <div class="jumbotron jumbotron-fluid" id="welcome-jumbo">
  <h1 class="display-4 font-weight-bold text-center">BrewGo</h1>
  <div class="col-md-6 offset-md-2" id="welcome-forms">
    <router-outlet></router-outlet>
  </div>
  <p class="lead font-weight-bold text-center">Find local breweries and grub</p>
  <p class="font-weight-bold text-center">
    Enter location, get buzzed, eat food
  </p>
</div> -->
