<div class="hero-user text-center">
  <h1>BrewGo Social</h1>
  <h2>Find local breweries and grub</h2>
  <p class="font-weight-bold text-center">
    Enter location, get buzzed, eat food
  </p>
</div>
<div class="p-4">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="profile-grid">
                    <div class="left">
                        <div class="profile-img">
                            <img src="../../assets/images/profilejs.jpg" alt="" />
                        </div>
                        <h5 class="card-title text-center">{{ user.firstName }} {{ user.lastName }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center">@{{ user.username }}</h6>
                        <div class="card-text text-center">{{ profile.bio }}</div>

                    </div>
                    <div class="m-4">
                        <div class="info-grid">
                            <i class="fas fa-map-marker-alt p-1 mr-3"></i><p class="card-text"> {{ profile.city }}<span *ngIf="profile.city">,</span> {{ profile.state }}</p>
                            <i class="fas fa-briefcase p-1 mr-3"></i><p class="card-text"> {{ profile.occupation }}</p>
                            <i class="fas fa-industry p-1 mr-3"></i><p class="card-text"> {{ profile.favoriteBreweries }}</p>
                            <i class="fas fa-beer p-1 mr-3"></i><p class="card-text"> {{ profile.favoriteBeers }}</p>
                            <i class="far fa-calendar-alt p-1 mr-3"></i><p class="card-text"> Member since {{ createdDate }}</p>
                        </div>
                    </div>
                </div>
                <div class="btn-location">
                    <button class="btn btn-primary btn-sm info-btn" (click)="handleClick(brewery)">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>
