<div class="hero-user text-center">
    <h1>BrewGo Social</h1>
    <h2>Find local breweries and grub</h2>
    <p class="font-weight-bold text-center">
        Enter location, get buzzed, eat food
    </p>
</div>
<div *ngIf="!profile" class="text-center bg-white pt-0 loading-div">
    <img class="animated-gif" src="../../assets/images/loading.gif" />
</div>
<div class="p-4">
    <div class="container" *ngIf="profile">
        <app-alert *ngIf="alertShow" alertType="{{ alertType }}" alertMessage="{{ alertMessage }}" (onDismiss)="exexOnDismiss($event)"></app-alert>
        <div class="card">
            <div class="card-body">
                <div class="profile-grid">
                    <div class="left">
                        <div *ngIf="editProfile" class="text-center">
                            <button (click)="fileInput.click()" class="btn btn-sm btn-primary m-1"><i class="fas fa-arrow-circle-up"></i> Profile Image</button>
                            <input #fileInput type="file" (change)="onFileSelected($event)" style="display:none;" />
                        </div>
                        <div class="profile-img">
                            <img *ngIf="!loadingImg" src="{{ profile.profileImgUrl }}" alt="" />
                            <img *ngIf="loadingImg" class="gif" src="../../assets/images/imgloading.gif" />
                        </div>
                        <h5 class="card-title text-center">{{ user.firstName }} {{ user.lastName }}</h5>
                        <a class="username" [routerLink]="['/users/' + user.username.toLowerCase()]">
                            <h6 class="card-subtitle mb-2 text-muted text-center">@{{ user.username }}</h6>
                        </a>
                        <div *ngIf="!editProfile" class="card-text text-center">{{ profile?.bio }}</div>
                    </div>
                    <div *ngIf="!editProfile" class="m-4">
                        <div class="info-grid">
                            <i class="fas fa-map-marker-alt p-1 mr-3"></i><p class="card-text"> {{ profile.city }}<span *ngIf="profile.city">,</span> {{ profile.state }}</p>
                            <i class="fas fa-briefcase p-1 mr-3"></i><p class="card-text"> {{ profile.occupation }}</p>
                            <i class="fas fa-industry p-1 mr-3"></i><p class="card-text"> {{ profile.favoriteBreweries }}</p>
                            <i class="fas fa-beer p-1 mr-3"></i><p class="card-text"> {{ profile.favoriteBeers }}</p>
                            <i class="far fa-calendar-alt p-1 mr-3"></i><p class="card-text"> Member since {{ createdDate }}</p>
                        </div>
                    </div>
                    <div *ngIf="editProfile">
                        <form [formGroup]="form" (ngSubmit)="submitChanges()">
                            <div class="info-grid">
                                <i class="fas fa-map-marker-alt p-1 mr-3"></i>
                                <div class="location-grid">
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input type="text"
                                               formControlName="city"
                                               class="form-control"
                                               [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                            <div *ngIf="f.city.errors.maxlength">
                                                25 Character limit
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <select class="form-control" formControlName="state">
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                    </div>
                                </div>
                                <i class="fas fa-briefcase p-1 mr-3"></i>
                                <div class="form-group">
                                    <label for="occupation">Occupation</label>
                                    <input type="text"
                                           formControlName="occupation"
                                           class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && f.occupation.errors }" />
                                    <div *ngIf="submitted && f.occupation.errors" class="invalid-feedback">
                                        <div *ngIf="f.occupation.errors.maxlength">
                                            25 Character limit
                                        </div>
                                    </div>
                                </div>
                                <i class="fas fa-industry p-1 mr-3"></i>
                                <div class="form-group">
                                    <label for="favoriteBreweries">Favorite Breweries</label>
                                    <input type="text"
                                           formControlName="favoriteBreweries"
                                           class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && f.favoriteBreweries.errors }" />
                                    <div *ngIf="submitted && f.favoriteBreweries.errors" class="invalid-feedback">
                                        <div *ngIf="f.favoriteBreweries.errors.maxlength">
                                            255 Character limit
                                        </div>
                                    </div>
                                </div>
                                <i class="fas fa-beer p-1 mr-3"></i>
                                <div class="form-group">
                                    <label for="favoriteBeers">Favorite Beers</label>
                                    <input type="text"
                                           formControlName="favoriteBeers"
                                           class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && f.favoriteBeers.errors }" />
                                    <div *ngIf="submitted && f.favoriteBeers.errors" class="invalid-feedback">
                                        <div *ngIf="f.favoriteBeers.errors.maxlength">
                                            255 Character limit
                                        </div>
                                    </div>
                                </div>
                                <i class="far fa-calendar-alt p-1 mr-3"></i>
                                <div class="form-group">
                                    <label for="bio">Bio</label>
                                    <input type="text"
                                           formControlName="bio"
                                           class="form-control"
                                           [ngClass]="{ 'is-invalid': submitted && f.bio.errors }" />
                                    <div *ngIf="submitted && f.bio.errors" class="invalid-feedback">
                                        <div *ngIf="f.bio.errors.maxlength">
                                            255 Character limit
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="btn-location">
                    <button *ngIf="!editProfile" class="btn btn-primary btn-sm info-btn" (click)="editClick()">Edit Profile</button>
                    <button *ngIf="editProfile" class="btn btn-primary btn-sm info-btn" (click)="submitChanges()">Save Changes</button>
                </div>
                <hr />
                <h4>Posts</h4>
                <post-modal (onPost)="reloadPosts($event)"></post-modal>
                <hr />
                <profile-posts [posts]=posts (onSubmit)="reloadPosts($event)"></profile-posts>
            </div>
        </div>
    </div>
</div>