/* Brewery Card Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.books {
  display: grid;
  grid-gap: 5px;
}

.card {
  min-height: 175px;
}

@media screen and (max-width: 991px) {
  .grid {
    grid-template-columns: 1fr;
    padding-top: 10px;
  }
}
