<ng-template #content let-c="close" let-d="dismiss">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <div class="post-grid">
                <div id="postImgDiv">
                    <img id="postImg" src="{{userCard.profileImgUrl}}" alt="profile image"/>
                </div>
                <div>
                    <h5 class="card-title">{{userCard.firstName}} {{userCard.lastName}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{userCard.city}}, {{userCard.state}}</h6>
                </div>
                <div>
                    <button type="button" class="btn btn-sm btn-primary" id="sendPostBtn" (click)="c('Save click')">Send Post</button>
                </div>
            </div>
            <div class="postText">
                <textarea rows="10"></textarea>
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
</ng-template>

<div (click)="open(content)" class="post-btn">
    <div><i class="fas fa-edit"></i> Write Post</div>
</div>
