<div class="hero-user text-center">
    <h1>BrewGo Social</h1>
    <h2>Find local breweries and grub</h2>
    <p class="font-weight-bold text-center">
        Enter location, get buzzed, eat food
    </p>
</div>
<div class="p-4">
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
                <input type="text"
                       class="form-control"
                       formControlName="brewerySearch"
                       placeholder="Cincinnati, OH" />
                <div class="input-group-append">
                    <button class="btn btn-dark" type="submit">Search</button>
                </div>
            </div>
        </form>

        <h2 *ngIf="breweryData.length == 0 && city != ''">No breweries found in {{ city }}. Check your spelling.</h2>
        <div *ngIf="breweryData.length" id="brewery-list">
            <h2 *ngIf="breweryData.length == 1">{{ breweryData.length }} brewery found in {{ city }}</h2>
            <h2 *ngIf="breweryData.length > 1 && city != ''">{{ breweryData.length }} breweries found in {{ city }}</h2>
            <h2 *ngIf="city == ''">You didn't enter anything, but here are {{ breweryData.length }} breweries</h2>
            <div class="grid">
                <div class="breweries" *ngFor="let brewery of breweryData">
                    <div class="card" style="width: 100%;" data-toggle="modal" data-target="#info-modal">
                        <div class="card-body">
                            <h5 class="card-title">{{ brewery.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ brewery.brewery_type }}</h6>
                            <div class="card-text"><i class="fas fa-location-arrow"></i> {{ brewery.street }}</div>
                            <div class="card-text">{{ brewery.city }}, {{ brewery.state }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="recommended-cities-header">Featured Craft Beer Cities</h2>
            </div>
        </div>
        <div class="container-recommended-cities" id="recommended-cities">
            <div class="city-container" id="Tampa" (click)="brewerySearch('Tampa, Florida')">
                <img src="./assets/images/tampa.jpg">
                <div class="recommended">
                    <h4 class="city">Tampa</h4>
                    <p>Florida</p>
                </div>
            </div>
            <div class="city-container" id="Raleigh" (click)="brewerySearch('Raleigh, North Carolina')">
                <img src="./assets/images/raleigh.jpg">
                <div class="recommended">
                    <h4 class="city">Raleigh</h4>
                    <p>North Carolina</p>
                </div>
            </div>
            <div class="city-container" id="Grand Rapids" (click)="brewerySearch('Grand Rapids, Michigan')">
                <img src="./assets/images/grandrapids.jpg">
                <div class="recommended">
                    <h4 class="city">Grand Rapids</h4>
                    <p>Michigan</p>
                </div>
            </div>
            <div class="city-container" id="Portland" (click)="brewerySearch('Portland, Oregon')">
                <img src="./assets/images/portland.jpg">
                <div class="recommended">
                    <h4 class="city">Portland</h4>
                    <p>Oregon</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal card layout will go here...JS code will append info from APIs-->
<!-- Modal -->
<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modal-card">
            <div class="modal-header">
                <h2 class="modal-title" id="brewery">Hello, Modal</h2>
                <!-- <span aria-hidden="true">&times;</span> -->
            </div>
            <div class="modal-body">
                <div class="contact-container">
                    <div id="address-info"></div>
                    <div id="phone-info"></div>
                </div>
                <div id="website-info"></div>
                <hr>
                <h4 id="map-h4">Brewery Location</h4>
                <app-map></app-map>
                <hr>
                <h4 id="nearby-restaurants-h4">Nearby Restaurants <i class="fas fa-chevron-circle-left left"></i><i class="fas fa-chevron-circle-right right"></i></h4>
                <div id="nearby-restaurants"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
