<h4>Find Brewsters</h4>
<hr />
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3 search">
        <input type="text" class="form-control" formControlName="userSearch" placeholder="Find BrewGo members..." />
        <div class="input-group-append">
            <button class="btn btn-dark" type="submit">Search</button>
        </div>
    </div>
</form>

<div *ngIf="searchResults">
    <h6 class="text-center m-3 p-3" *ngIf="searchResults?.length == 0">No Results</h6>
    <div *ngFor="let res of searchResults">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 sm-3">
                        <div id="ImgDiv">
                            <a [routerLink]="['/users/' + res.slug]">
                                <img id="Img" src="{{res.profile.profileImgUrl}}" />
                            </a>
                        </div>
                    </div>
                    <div class="col-10 sm-9">
                        <h5 class="card-title mb-2">{{res.firstName}} {{res.lastName}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{res.profile.city}}<span *ngIf="res.profile.state">,</span> {{res.profile.state}}</h6>
                        <div class="card-text mb-1">{{res.profile.bio}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>