<div class="hero text-center">
  <h1>BrewGo Social</h1>
  <h2>Find local breweries and grub</h2>
  <p class="font-weight-bold text-center">
    Enter location, get buzzed, eat food
  </p>
</div>
<div class="p-4">
  <div class="container">
      <div class="grid">
          <div class="card">
              <img src="../../assets/images/brewpub.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Find Breweries and Restaurants</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a [routerLink]="['/search']" class="btn btn-dark">BrewGo Search</a>
              </div>
          </div>
          <div class="card">
              <img src="../../assets/images/brewtank.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Favorite Breweries</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a [routerLink]="['/saved']" class="btn btn-dark">BrewGo Favorites</a>
              </div>
          </div>
          <div class="card">
              <img src="../../assets/images/socialbrew.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">BrewGo Social</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a [routerLink]="['/']" class="btn btn-dark">BrewGo Social</a>
              </div>
          </div>
          <div class="card">
              <img src="../../assets/images/mac.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">BrewGo Profile</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a [routerLink]="['/profile']" class="btn btn-dark">BrewGo Profile</a>
              </div>
          </div>
      </div>
  </div>
</div>
